# Add all custom .gitignore's here, NOT in the .idea/.gitignore file

# Ignore SQLite DB
/profiles.db
/profiles_v*.db


# ignore some other IDEA specific junk
/.attach_pid*
/target/
## /.idea/
/*.iml
